.overlay-bg {
  z-index: 22;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay-container {
  transform-origin: center;
  animation: boing 0.5s linear;
  z-index: 22;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uses-container {
  background-color: #090b10;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

.close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}

@keyframes boing {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
