@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  font-style: normal;
  font-weight: normal;
  src: local('JetBrainsMono Nerd Font'),
    url('./assets/fonts/JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete.ttf')
      format('truetype');
}
@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  font-style: bold;
  font-weight: bold;
  src: local('JetBrainsMono Nerd Font'),
    url('./assets/fonts/JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete.ttf')
      format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f111a;
}

.emoji {
  background-image: '👋';
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.emoji-wave {
  animation-name: wave-emoji;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-emoji {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#blob1 {
  position: absolute;
  top: 230px;
  left: 100px;
}

#blob3 {
  z-index: -1;
  position: absolute;
  top: 260px;
  left: 50px;
}

#blob2 {
  position: absolute;
  top: 40px;
  left: 220px;
}

#blob4 {
  position: absolute;
  right: 0;
  z-index: -1;
}

#blob5 {
  position: absolute;
  left: -15%;
  top: 45%;
  z-index: -1;
}

#blob6 {
  z-index: -1;
  position: absolute;
  right: 3%;
  bottom: 30%;
}

#dots {
  z-index: -1;
  position: absolute;
  right: 150px;
  top: 150px;
}

.divider {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 100%;
  bottom: 0;
}

@media (max-width: 800px) {
  .divider {
    display: none;
  }

  .terminal-size {
    width: 100%;
    height: 100%;
  }

  #blob1 {
    top: -10px;
    z-index: -1;
    width: 80px;
    height: 80px;
  }

  #blob2 {
    z-index: -1;
    width: 150px;
    height: 150px;
  }

  #dots {
    z-index: -1;
    position: absolute;
    left: 250px;
    top: 200px;
  }
  svg#terminal-react {
    overflow: hidden;
    width: 250px;
    height: 200px;
  }

  .header {
    z-index: 0;
  }
}

.divider2 {
  position: absolute;
  z-index: 0;
  height: 400px;
  width: 100%;
  bottom: 0;
}

.divider3 {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 100%;
  bottom: 255px;
}

.divider4 {
  position: absolute;
  z-index: 0;
  height: 400px;
  width: 100%;
  bottom: 265px;
}
.shadow-text {
  text-shadow: 0px 0px 2px black;
}

.orange-color {
  color: #82aaff;
}

.animated {
  animation: floating linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-5px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
  65% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated2 {
  animation: explode linear;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes explode {
  0% {
    transform: skew(0);
  }
  /* 15% {
    transform: translateY(-5px);
  } */
  25% {
    transform: skew(-0.06turn, 18deg);
  }
  50% {
    transform: skew(0);
  }
  /* 65% {
    transform: translateY(0);
  } */
  85% {
    transform: skew(0.06turn, -18deg);
  }
  100% {
    transform: skew(0);
  }
}

#terminal-react {
  width: 800px;
  height: 480px;
  top: 25%;
  position: absolute;
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 20%;
  right: 20%;
}

svg#terminal-react {
  box-shadow: 0px 0px 4px #89ddff;
}

#terminal-react2 {
  width: 600px;
  height: 400px;
  top: 250px;
  position: absolute;
  z-index: -1;
  left: 250px;
}

svg#terminal-react2 {
  box-shadow: 0px 0px 4px #89ddff;
}

.pulse {
  border-radius: 1%;
  box-shadow: 0 0 0 #82aaff;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 170, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(130, 170, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(130, 170, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(130, 170, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(130, 170, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(130, 170, 255, 0);
    box-shadow: 0 0 0 10px rgba(130, 170, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(130, 170, 255, 0);
    box-shadow: 0 0 0 0 rgba(130, 170, 255, 0);
  }
}

@keyframes purple-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(247, 140, 108, 0.4);
    box-shadow: 0 0 0 0 rgba(247, 140, 108, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(247, 140, 108, 0);
    box-shadow: 0 0 0 10px rgba(247, 140, 108, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(247, 140, 108, 0);
    box-shadow: 0 0 0 0 rgba(247, 140, 108, 0);
  }
}

.logo-pulse {
  animation: logopulse 4s linear infinite;
}

@keyframes logopulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* Logos */
#nodejs {
  position: absolute;
  top: 20%;
  left: 5%;
}

#reactjs {
  position: absolute;
  right: 10%;
  top: 8%;
}

#redux {
  position: absolute;
  left: 13%;
  top: 37%;
}

#tailwind {
  position: absolute;
  right: 15%;
  top: 45%;
}

#python {
  position: absolute;
  right: 32%;
  top: 3%;
}

#graphql {
  z-index: -1;
  position: absolute;
  left: 33%;
  top: 15%;
}

.button-download {
  animation: pulse 2s linear infinite;
  background-color: #82aaff;
  cursor: pointer;
  padding: 0.5rem;
  text-shadow: 0px 0px 1px black;
}

.button-download:hover {
  background-color: #6280c2;
}

.test {
  margin-top: 36rem;
}

.terminal-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
}

.terminal-grid-location {
  grid-column-start: 2;
  grid-column-end: 2;
}

.location-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.m-blue {
  color: #82aaff;
}

.m-cyan {
  color: #89ddff;
}

.m-contrast {
  color: #090b10;
}

.m-bg-blue {
  background-color: #82aaff;
}

.m-bg-cyan {
  background-color: #89ddff;
}

.m-bg-contrast {
  background-color: #090b10;
}

.bg-gradient {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://raw.githubusercontent.com/smallobject/poe-trading-site/main/images/demo.gif');
}

.bg-gradient2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://i.imgur.com/laS1lxJ.png');
}

.bg-gradient3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://i.imgur.com/6evCxEd.png');
}

.bg-gradient4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://i.imgur.com/kC6A013.png');
}

.div-hidden {
  opacity: 0%;
}

.div-shown {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url('https://raw.githubusercontent.com/smallobject/poe-trading-site/main/images/demo.gif');
  visibility: visible;
}

.div-shown2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url('https://i.imgur.com/laS1lxJ.png');
  visibility: visible;
}

.div-shown3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url('https://i.imgur.com/6evCxEd.png');
  visibility: visible;
}

.div-shown4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url('https://i.imgur.com/kC6A013.png');
  visibility: visible;
}

.rotating-bg {
  background-color: #090b10;
  z-index: -1;
}

.rotating-bg2 {
  background-color: #090b10;
  z-index: -1;
}

.rotating-bg3 {
  background-color: #82aaff;
  z-index: -1;
}

.rotate-left {
  animation: rotate-left 5s linear infinite;
}

@keyframes rotate-left {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
.rotate-right {
  animation: rotate-right 5s linear infinite;
}

@keyframes rotate-right {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

.button-width {
  width: max-content;
}

.jetbrains {
  font-family: 'JetBrainsMono Nerd Font';
}

.profile-stroke {
  box-shadow: 0px 0px 0px 16px #090b10;
}

#dots2 {
  position: absolute;
  top: 15%;
  left: -35%;
}

#blobl4proj1 {
  transform: rotate(180deg);
  position: absolute;
  left: -80%;
  top: 5%;
}

#blobl2proj1 {
  animation: floating 2s linear infinite;
  transform: rotate(90deg);
  position: absolute;
  left: -60%;
  top: 80%;
  z-index: -1;
}

#blobl1proj1 {
  transform: rotate(180deg);
  transform: scale(2);
  position: absolute;
  right: -50%;
  top: 85%;
  z-index: -1;
}

#dots2proj2 {
  position: absolute;
  z-index: -1;
  transform: scale(1.2) rotate(30deg);
  right: -50%;
  top: 5%;
}

#blob3proj2 {
  z-index: -1;
  position: absolute;
  left: -20%;
  top: -30%;
}

#blob6proj2 {
  z-index: -1;
  position: absolute;
  left: -90%;
}

#blob3proj4 {
  z-index: -1;
  transform: scale(1.4) rotate(80deg);
  position: absolute;
  left: -75%;
  top: -20%;
}

#linesproj4 {
  z-index: -1;
  position: absolute;
  transform: scale(1.2) rotate(25deg);
  right: -80%;
  overflow: hidden;
  color: #82aaff;
}
